@import 'reset';
@import url('third_party/bootstrap.min.css');
@import url('third_party/font-awesome.min.css');
@import url('../js/bower_components/famous-angular/dist/famous-angular.css');

body {
  div#main-container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
  }
}

.done-true {
  text-decoration: line-through;
  color: grey;
}
