<!doctype html>
<html ng-app="pakopako">
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/application.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/third_party/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/third_party/font-awesome.min.css') }}">
        <script src="{{ url_for('static', filename='js/angular.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/application.js') }}"></script>
        <title>Flask-MVC</title>
    </head>
    <body>
    　　<div id='main-container'>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="/">Home</a></li>
                    {% if g.user.is_authenticated()%}
                        <li><a href="/new">New Todo</a></li>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                    {% if not g.user.is_authenticated()%}
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
            {% macro render_error(field) %}
                {% if field.errors %}
                    {% for error in field.errors %}<span class='error'>{{ error }}</span>{% endfor %}
                {% endif %}
            {% endmacro %}
            {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>
