{% extends "layouts/layout.html" %}
{% block body %}
    <!-- Famo.us DEMO-->
    <fa-app style="height: 200px"><fa-surface fa-background-color="'red'">Hello world</fa-surface></fa-app>


    <div class="row">
      <h2>Todo</h2>
    </div>
    <div ng-controller="TodoController">
      <div class="row">
        <div class="col-lg-8">
          <hr>
          <span>[[remaining()]] of [[todos.length]] remaining</span> [ <a href="" ng-click="archive()">archive</a> ]
          <ul class="unstyled">
            <li ng-repeat="todo in todos">
              <input type="checkbox" ng-model="todo.done">
              <span class="done-[[todo.done]]">[[todo.text]]</span>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-8">
          <hr>
          <div class="input-group">
            <input type="text" class="form-control" ng-model="todoText" placeholder="add new todo here" >
            <span class="input-group-btn">
              <input class="btn btn-primary" type="submit" value="add">
            </span>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->
    </div>
{% endblock %}
